.title{
    color: var(--neon_green);
    text-decoration: underline;
    font-size: 3em;
}

.content{
    color: white;
    font-size: 1.3em;
}

.CVcontainer{
    margin: 20px;
    display: flex;
    flex-direction: column;
}